<div class="row">
  <div class="parallax-container">
    <div class="parallax"><%= image_tag(@movie.full_image) %></div>
  </div>
  <div class="z-depth-1">
    <h3>
      <center>
        <%= @movie.name %>
      </center>
    </h3>
  </div>

  <center>
    <%= rating_for @movie, "movie", :star => 10 %>
  </center>

    <div class="jumbotron" style="height: auto;">
      <div class="z-depth-1">
        <h3>
          <center>
            Story
          </center>
        </h3>
      </div>
    <div class="text">
      <center>
        <%= @movie.story %>
      </center>
    </div></div>

    <div class="jumbotron" style="height: auto;">
      <div class="z-depth-1">
        <h3>
          <center>
            Actors
          </center>
        </h3>
      </div><center>
      <% @actors.each do |actor| %>
      <a>&nbsp;<%= link_to actor.name, actor_path(actor) %></a>&nbsp;
      <% end %>
    </center></div>
    <div class="jumbotron" style="height: auto;">
      <div class="z-depth-1">
        <h3>
          <center>
            Director(s)
          </center>
        </h3>
      </div><center>

      <% @directors.each do |director| %>
          <a>&nbsp;<%= link_to director.name, director_path(director) %>&nbsp;</a>
        <% end %></center></div>

      <div class="jumbotron" style="height: auto;">
        <div class="z-depth-1">
        <h3>
          <center>
            Categories
          </center>
        </h3>
      </div><center>
      <% @categories.each do |category| %>
          <a>&nbsp;<%= link_to category.name, category_path(category) %>&nbsp;</a>
      <% end %></center>
    </div>
</div>
<!-- (@movie.average("movie").avg) -->
